{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/meu_estilo.css' %}">
    <title>Filmes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fixed-bottom-header {
            background-color: palegreen; /* Cor de fundo da barra de navegação (header) - substitua pela cor desejada */
            padding: 10px 0; /* Espaçamento interno na barra de navegação (header) */
            text-align: center; /* Alinhamento do texto no centro */
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Filmes</h1>
    </header>

    <section>
        <div class="container">
            <h2>Filmes em Destaque</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="filme">
                        <img src="{% static '..\static/media/pc.jpg' %}" alt="O Poderoso Chefão" width="300" height="450">
                        <h3>O Poderoso Chefão</h3>
                        <p><strong>Diretor:</strong> Francis Ford Coppola</p>
                        <p><strong>Ano:</strong> 1972</p>
                        <p><strong>Gênero:</strong> Drama, Crime</p>
                        <p><strong>Sinopse:</strong> Um poderoso chefão do crime organiza sua sucessão em meio a intrigas familiares e disputas de poder.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filme">
                        <img src="{% static '..\static/media/gyj.jfif' %}" alt="A Origem" width="300" height="450">
                        <h3>A Origem</h3>
                        <p><strong>Diretor:</strong> Christopher Nolan</p>
                        <p><strong>Ano:</strong> 2010</p>
                        <p><strong>Gênero:</strong> Ficção Científica, Ação</p>
                        <p><strong>Sinopse:</strong> Um ladrão especializado em roubar segredos corporativos por meio dos sonhos é encarregado de implantar uma ideia na mente de um CEO.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filme">
                        <img src="{% static '..\static/media/m.jpg' %}" alt="Matrix" width="287" height="450">
                        <h3>Matrix</h3>
                        <p><strong>Diretor:</strong> Lana Wachowski</p>
                        <p><strong>Ano:</strong> 1999</p>
                        <p><strong>Gênero:</strong> Ação, Ficção Científica</p>
                        <p><strong>Sinopse:</strong> Um hacker descobre a verdade sobre sua realidade e se junta a uma rebelião para combater máquinas que controlam a humanidade.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h2>Próximos Lançamentos</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="filme">
                        <img src="{% static '..\static/media/ten.jfif' %}" alt="Tenet" width="300" height="450">
                        <h3>Tenet</h3>
                        <p><strong>Diretor:</strong> Christopher Nolan</p>
                        <p><strong>Ano:</strong> 2020</p>
                        <p><strong>Gênero:</strong> Ação, Ficção Científica</p>
                        <p><strong>Sinopse:</strong> Um agente é enviado em uma missão para prevenir um ataque que ameaça a existência da realidade.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="filme">
                        <img src="{% static '..\static/media/fsv.webp' %}" alt="Duna" width="289" height="450">
                        <h3>Duna</h3>
                        <p><strong>Diretor:</strong> Denis Villeneuve</p>
                        <p><strong>Ano:</strong> 2021</p>
                        <p><strong>Gênero:</strong> Aventura, Ficção Científica</p>
                        <p><strong>Sinopse:</strong> Em um planeta desértico, um jovem lidera sua família em uma batalha para controlar a produção da substância mais valiosa do universo.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="filme">
                        <img src="{% static '..\static/media/int.jfif' %}" alt="Interestelar" width="300" height="450">
                        <h3>Interestelar</h3>
                        <p><strong>Diretor:</strong> Christopher Nolan</p>
                        <p><strong>Ano:</strong> 2014</p>
                        <p><strong>Gênero:</strong> Ficção Científica, Aventura</p>
                        <p><strong>Sinopse:</strong> Um grupo de exploradores viaja através de um buraco de minhoca em busca de um novo lar para a humanidade.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="filme">
                        <img src="{% static '..\static/media/vimn.jpg' %}" alt="Vingadores: Ultimato" width="300" height="450">
                        <h3>Vingadores: Ultimato</h3>
                        <p><strong>Diretor:</strong> Anthony e Joe Russo</p>
                        <p><strong>Ano:</strong> 2019</p>
                        <p><strong>Gênero:</strong> Ação, Aventura</p>
                        <p><strong>Sinopse:</strong> Os Vingadores se reúnem para desfazer as ações de Thanos e restaurar o equilíbrio no universo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
   <div class="fixed-bottom-header">
        <h1>Filmes</h1>
    </div>
    <!-- Bootstrap JS e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
